.modal-content {
    background: #f70d0d6c;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 95vw;
    box-shadow: 0 2px 16px rgba(0,0,0,0.25);
    position: relative;
}

@media (max-width: 600px) {
    .modal-content {
        width: 98vw;
        margin: 2vw auto;
        padding: 8px;
    }
}
