{% extends "base.html" %}
{% block page %}
<div class="dashboard-wrapper">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      
    </div>
    <span style="font-size: 0.95em; color: #666; font-weight: normal;">Auswertungszeiträume beziehen sich immer auf das Rechnungsdatum. Vor weiterer Auswertung unbgeding gegenprüfen.</span>
    <br>
    <div id="auswertung-jahrestabelle"></div>
   
    <hr style="border: none; border-top: 2px solid #ccc; margin: 40px 0;">
    <div style="display: flex; align-items: flex-end; gap: 32px; margin-top: 0;">
        <h1 style="margin: 0;">Auswertung pro Jahr</h1>
        <div id="auswertung-jahresauswahl"></div>
    </div>
    <div id="auswertung-kundentabelle"></div>
    <div id="auswertung-gruppentabelle"></div>
    <div id="auswertung-therapieformtabelle"></div>
        <span style="font-size: 0.95em; color: #666; font-weight: normal;">Die Gruppenauswertung stellt in Bezug auf die Einnahmen nur den Anteil dieser an den Gesamteinnahmen dar. Alle in Gruppen enthaltenen Einnahmen werden über Kunden direkt abgerechnet.</span>

</div>

<style>
.dashboard-wrapper {
    padding: 20px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auswertung.js') }}"></script>
{% endblock %}
